

*{
    -fx-mainBgColor: #1B262C;
    -fx-borderColor: #bbe1fa;
    -fx-textColor: #bbe1fa;
    -fx-textColor2: white;
    -fx-buttonColor: #0F4C75;
    -fx-sliderColor: #3282B8;
}


.root {
    -fx-background-color: -fx-mainBgColor;
    -fx-border-color: -fx-borderColor;
    -fx-border-radius: 10;
}

.button {
    -fx-background-color: -fx-buttonColor;
    -fx-effect: innershadow(three-pass-box, rgb(187, 225, 250), 10, 0, 0, 0);
    -fx-text-fill: -fx-textColor2;
    -fx-background-radius: 15;
}

.button:pressed {
    -fx-background-color: -fx-buttonColor;
    -fx-effect: innershadow(three-pass-box, rgb(187, 225, 250), 10, 0.5, 0, 0);
    -fx-text-fill: -fx-textColor;
}

#btnPlayerPrevious,#btnPlayerPlayPause,#btnPlayerNext,#btnRepeatAtEnd,#btnShuffleAtEnd,#volumeButton,#btnSearch,#btnSearchClear,#btnSettings {
    -fx-background-radius: 50;
}

.slider {
    -fx-background-color: transparent;
}

.slider .track {
    -fx-background-color: -fx-sliderColor;
}

.slider .thumb {
    -fx-background-color: -fx-borderColor;
}

.image-view {
    -fx-effect: innershadow(three-pass-box, rgb(187, 225, 250), 10, 0.5, 0, 0);
}

.text-field {
    -fx-background-color: transparent;
    -fx-border-color: -fx-buttonColor;
    -fx-border-radius: 15;
    -fx-text-fill: -fx-textColor;
    -fx-prompt-text-fill: -fx-textColor;
}

.label {
    -fx-text-fill: -fx-textColor;
}

/*
 * TableView stuff...
 */
.table-view, .list-view {
    -fx-background-color: transparent;
    -fx-control-inner-background: transparent;
    -fx-border-color: -fx-borderColor;
    -fx-border-radius: 10;
    -fx-text-fill: -fx-textColor2;
    -fx-effect: innershadow(three-pass-box, rgb(187, 225, 250), 10, 0, 0, 0);
}

.table-view .column-header-background .filler, .list-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .corner, .list-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header-background, .list-view .column-header-background {
    -fx-background-color: linear-gradient(to bottom, -fx-sliderColor, -fx-buttonColor);
    -fx-background-radius: 10px 10px 0px 0px;
    -fx-background-insets: 0 0 0 0;
    -fx-padding: 0 0 5px 0;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-text-background-color: -fx-textColor;
}

.table-view .table-cell, .list-view .table-cell {
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}
.table-row-cell:hover, .list-cell:hover {
    -fx-text-background-color: -fx-buttonColor;
}
.table-row-cell:odd, .list-cell:odd {
    -fx-background-color: transparent;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell:even, .list-cell:even {
    -fx-background-color: transparent;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-view .virtual-flow .scroll-bar:vertical, .list-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track, .list-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background, .list-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal, .list-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track, .list-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background, .list-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button,
.list-view .virtual-flow .scroll-bar .increment-button,
.list-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb,
.list-view .virtual-flow .scroll-bar:vertical .thumb {
    -fx-background-color:  linear-gradient(to bottom, -fx-sliderColor, -fx-buttonColor);
}
.table-view .virtual-flow .scroll-bar:horizontal .thumb,
.list-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  linear-gradient(to right, -fx-sliderColor, -fx-buttonColor);
}

.table-row-cell:selected, .list-cell:selected {
    -fx-background-color: -fx-borderColor;
    -fx-text-background-color: -fx-mainBgColor;
    -fx-background-radius: 15px;
}