
/*

hey Michael, jeg har lavet en topklasse alle "arver fra" den bruger vi til at sætte alle farver og effekter.
tænker det kan være en sketch for hvordan vi opbygger dark og light theme og måske flere hvis vi har lyst.
den er bygget ud fra dark theme men tænker vi laver den færdig inden vi laver andre themes ud fra den.

jeg prøvede lige for sjov at smide en color pallet ind og det tog 3 minutter, at lave den programmet starter op med nu.
jeg har kun lige udfyldt lidt af hvad hver farve gør så hvis du spotter noget må du gerne skrive det på.

todo:
jeg tænker vi skal have det delt op i variabler der giver mening, så en variable ikke gør for mange ting, da det er træls at designe med.
se color2 der både gør noget med volume og med artist name...
tror det er nemmest at få gjordt før vi bygger flere linjer css så det er nemt at implementere nyt design i længden + det ser fed ud
 */


*{
    -fx-color1: #CCD6A6; /* main background, table background*/
    -fx-color2: #227C70; /* volume slider btn, time slider btn, artist name, album name */
    -fx-color3: #F4EAD5;/*buttons*/
    -fx-color4: #227C70;/* colum title , volume bar, time seeker bar*/
    -fx-color5: #CCD6A6;/*option button icon when select*/
    -fx-color6: #F4EAD5; /* option button background*/
    -fx-color20: #FFFBE9;/*button text*/

    -fx-effect1: innershadow(three-pass-box, rgb(255,250,250), 10, 0, 0, 0); /* button outline, table text, button text bottom */
    -fx-effect2: innershadow(three-pass-box, rgb(187, 225, 250), 10, 0.5, 0, 0); /*image view, button border when pressed */
    -fx-effect3: innershadow(three-pass-box, rgb(255,127,80), 10, 0, 0, 0); /* toggle button border when on, repeat button border when on, mute border when on*/
    -fx-effect4: innershadow(three-pass-box, rgb(0,0,0), 10, 0, 0, 0); /* options button border when selected */


}

.root {
    -fx-background-color: -fx-color1;
    -fx-border-color: -fx-color2;
    -fx-border-radius: 10;
}

.button, .toggle-button {
    -fx-background-color: -fx-color3;
    -fx-effect: -fx-effect1;
    -fx-text-fill: -fx-color20;
    -fx-background-radius: 15;
}

.button:pressed {
    -fx-background-color: -fx-color3;
    -fx-effect: -fx-effect2;
    -fx-text-fill: -fx-color2;
}

.toggle-button:selected {
    -fx-background-color: -fx-color2;
    -fx-effect: -fx-effect3;
    -fx-text-fill: -fx-color3;
    -fx-background-radius: 15;
}

#btnPlayerPrevious,#btnPlayerPlayPause,#btnPlayerNext,#btnRepeatAtEnd,#btnShuffleAtEnd,#volumeButton,#btnSearch,#btnSearchClear,#btnSettings {
    -fx-background-radius: 50;
}

#btnSettings:selected {
    -fx-background-color: -fx-color6;
    -fx-effect:   -fx-effect4;
    -fx-text-fill: -fx-color5;
}

.slider {
    -fx-background-color: transparent;
}

.slider .track {
    -fx-background-color: -fx-color4;
}

.slider .thumb {
    -fx-background-color: -fx-color2;
}

.image-view {
    -fx-effect: -fx-effect2;
}

.text-field {
    -fx-background-color: transparent;
    -fx-border-color: -fx-color3;
    -fx-border-radius: 15;
    -fx-text-fill: -fx-color2;
    -fx-prompt-text-fill: -fx-color2;
}

.label {
    -fx-text-fill: -fx-color2;
}

/*
 * TableView stuff...
 */
.table-view, .list-view {
    -fx-background-color: transparent;
    -fx-control-inner-background: transparent;
    -fx-border-color: -fx-color2;
    -fx-border-radius: 10;
    -fx-effect: -fx-effect1;
}

.table-view .column-header-background .filler, .list-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .corner, .list-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header-background, .list-view .column-header-background {
    -fx-background-color: linear-gradient(to bottom, -fx-color4, -fx-color3);
    -fx-background-radius: 10px 10px 0px 0px;
    -fx-background-insets: 0 0 0 0;
    -fx-padding: 0 0 5px 0;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-text-background-color: -fx-color2;
}

.table-view .table-cell, .list-view .table-cell {
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}
.table-row-cell:hover, .list-cell:hover {
    -fx-text-background-color: -fx-color3;
}
.table-row-cell:odd, .list-cell:odd {
    -fx-background-color: transparent;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell:even, .list-cell:even {
    -fx-background-color: transparent;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-view .virtual-flow .scroll-bar:vertical, .list-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track, .list-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background, .list-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal, .list-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track, .list-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background, .list-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button,
.list-view .virtual-flow .scroll-bar .increment-button,
.list-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb,
.list-view .virtual-flow .scroll-bar:vertical .thumb {
    -fx-background-color:  linear-gradient(to bottom, -fx-color4, -fx-color3);
}
.table-view .virtual-flow .scroll-bar:horizontal .thumb,
.list-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  linear-gradient(to right, -fx-color4, -fx-color3);
}

.table-row-cell:selected, .list-cell:selected {
    -fx-background-color: linear-gradient(to top, -fx-color2, -fx-color4);
    -fx-text-background-color: -fx-color1;
    -fx-background-radius: 15px;
}

.dialog-pane, .dialog-pane .header-panel {
    -fx-background-color: -fx-color1;
    -fx-border-color: -fx-color2;
}